@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*font-family: 'Poppins', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
/*font-family: 'Racing Sans One', cursive;*/
/*Don't want to use this one anymore...*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Barlow', sans-serif;*/

@font-face {
    font-family: 'digital-7_italicitalic';
    src: url('fonts/digital-7.italic-webfont.woff2') format('woff2'),
         url('fonts/digital-7.italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'digital-7_italicitalic';*/

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5%;
    width: 50%;
    height: 50%;
}

#screen {
    background-image: linear-gradient(rgb(89, 105, 65), rgb(83, 127, 83));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    height: 100%;
    font-family: 'digital-7_italicitalic';
    font-size: 1400%;
}

.subtext {
    font-family: 'Poppins', sans-serif;
    font-size: 400%;
}

.subsubtext {
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 175px;
    font-weight: 400;
    text-decoration: none;
}

#button-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

button {
    background-color: gray;
    color: white;
}

#miles {
    font-family: 'Barlow', sans-serif;
    font-size: 100px;
    font-weight: 500;
}

#tank-container {
    width: calc(100% - 2px);
    height: calc(75% - 2px);
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    border: 1px black solid;
}

#tank-visual {
    top: 1px;
    left: 1px;
    height: calc(100% - 1px);
    position: absolute;
    z-index: 2;
    transition: background-color 2s ease;
}

.bar {
    width: 10px;
    background-color: black;
    position: relative;
    z-index: 3;
}

#tank-value {
    color: black;
    position: absolute;
    z-index: 4;
    top: 6px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}