@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*font-family: 'Poppins', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
/*font-family: 'Racing Sans One', cursive;*/
/*Don't want to use this one anymore...*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Barlow', sans-serif;*/

@font-face {
    font-family: 'digital-7_italicitalic';
    src: url('fonts/digital-7.italic-webfont.woff2') format('woff2'),
         url('fonts/digital-7.italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*font-family: 'digital-7_italicitalic';*/

/*Dimensions*/
@media screen and (max-width: 1100px) {
    #cost {
        font-size: 17vw;
    }

    #fuel {
        font-size: 17vw;
    }

    #dollar-sign {
        font-size: 17vw;
        margin-top: 50px;
        position: relative;
    }
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.jc-center {
    display: flex;
    justify-content: center;
}

.ai-center {
    display: flex;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5%;
    width: 90%;
    height: 50%;
}

#screen {
    background-image: linear-gradient(rgb(89, 105, 65), rgb(83, 127, 83));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    height: 100%;
    font-family: 'digital-7_italicitalic';
    font-size: 1400%;
}

.subtext {
    font-family: 'Poppins', sans-serif;
    font-size: 400%;
}

.subsubtext {
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 175px;
    font-weight: 400;
    text-decoration: none;
}

#button-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

button {
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#miles {
    font-family: 'Barlow', sans-serif;
    font-size: 100px;
    font-weight: 500;
}

#tank-main-container {
    width: 90%;
    height: 50px;
}

#tank-container {
    width: calc(100% - 2px);
    height: calc(75% - 2px);
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    border: 1px black solid;
    transition: background-color 1s ease;
}

#tank-visual {
    top: 1px;
    left: 1px;
    height: calc(100% - 2px);
    position: absolute;
    z-index: 2;
    transition: background-color 2s ease;
}

.bar {
    width: 10px;
    background-color: black;
    position: relative;
    z-index: 3;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

#tank-value {
    color: black;
    position: absolute;
    z-index: 4;
    top: 6px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

#tank-alert {
    color: white;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    opacity: 0%;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

#fuel-selectors {
    width: 200px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.fuel-selector {
    border-radius: 25px;
    width: 95%;
    height: 17%;
    background-color: rgb(197, 203, 0);
    color: black;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    user-select: none;
    box-shadow: 0px 5px 2px black;
}

.fuel-selector:hover {
    background-color: rgb(246, 255, 0);
}

@keyframes slideUpAndDown {
    0%, 100% {
        transform: translateY(0px);
        box-shadow: 0px 5px 2px black;
    }

    50% {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px black;
    }

    60% {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px black;
    }
}

#stats {
    position: fixed;
    top: 15px;
    left: 15px;
    user-select: none;
    cursor: pointer;
}

#settings {
    position: fixed;
    top: 15px;
    left: 50px;
    user-select: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.fuel-selector-screen {
    width: 95%;
    height: 40px;
    background-image: linear-gradient(rgb(89, 105, 65), rgb(83, 127, 83));
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'digital-7_italicitalic';
    font-size: 35px;
}

#settings-container {
    width: 0px; /*to 500px*/
    height: 0px; /*to 375px*/
    background-color: white;
    border-radius: 20px;
    border: 3px black solid;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: settingsExpand 0.75s ease forwards;
}

@keyframes settingsExpand {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 500px;
        height: 375px;
    }
}

@keyframes settingsShrink {
    from {
        width: 500px;
        height: 375px;
    }

    to {
        width: 0px;
        height: 0px;
    }
}

#settings-opacity-contaioner {
    opacity: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#settings-screen {
    background-image: linear-gradient(rgb(89, 105, 65), rgb(83, 127, 83));
    width: 35%;
    height: 40px;
    font-size: 39px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'digital-7_italicitalic';
}

#settings-close {
    position: absolute;
    top: 15px;
    right: 15px;
    user-select: none;
    cursor: pointer;
}

.setting-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.setting-input {
    width: 100px;
    height: 30px;
    background-image: linear-gradient(rgb(89, 105, 65), rgb(83, 127, 83));
    font-family: 'digital-7_italicitalic';
    font-size: 29px;
}

.small {
    width: 60px !important;
    height: 20px !important;
    font-size: 19px !important;
}

.setting-input-container p:hover {
    cursor: help;
    text-decoration: underline;
}

input[type=radio] {
    cursor: pointer;
}

label {
    user-select: none;
    cursor: pointer;
}

#stats-container {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(-300px, -50%);
    background-color: white;
    width: 300px;
    height: 97.5%;
    border: 3px black solid;
    border-radius: 25px;
    animation: moveInFromLeft 1s 0s ease forwards;
}

@keyframes moveInFromLeft {
    from {
        left: 0%;
    }

    to {
        left: 315px;
    }
}